body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
  opacity: 1;
  font-family: bimini;
}

html {
  background-image: url(https://phonoteka.org/uploads/posts/2022-02/1645096749_62-phonoteka-org-p-rozovii-fon-gacha-65.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    width: 90%;
  }
}

@media (max-width: 480px) {
  body {
    width: 96%;
  }
}